@model WareHouseSys.DBModels.RequirementHeader
@{
    ViewBag.Title = "需求單修改";
    Layout = "";
}

<style>
    .table > tbody > tr > td {
        border-top: 1px solid #2b2b2b;
    }

    .ui-autocomplete-input {
        width: 70%;
    }

    .tdstyle {
        font-family: 標楷體;
        font-size: large;
        vertical-align: middle;
        border-style: solid;
        border-width: 0.5px;
        font-weight: 800;
        text-align: center;
        width: 12%;
        background-color: #D0CECF;
    }

    .ui-dialog {
        z-index: 900 !important;
    }

    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .fileinput-button {
        position: relative;
        overflow: hidden;
    }

        .fileinput-button input {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            font-size: 200px;
            direction: ltr;
            cursor: pointer;
        }

    .thumb {
        height: 80px;
        width: 100px;
        border: 1px solid #000;
    }

    ul.thumb-Images li {
        width: 120px;
        float: left;
        display: inline-block;
        vertical-align: top;
        height: 120px;
    }

    .img-wrap {
        position: relative;
        display: inline-block;
        font-size: 0;
    }

        .img-wrap .close {
            position: absolute;
            top: 2px;
            right: 2px;
            z-index: 100;
            background-color: #D0E5F5;
            padding: 5px 2px 2px;
            color: #000;
            font-weight: bolder;
            cursor: pointer;
            opacity: .5;
            font-size: 23px;
            line-height: 10px;
            border-radius: 50%;
        }

        .img-wrap:hover .close {
            opacity: 1;
            background-color: #ff0000;
        }

    .FileNameCaptionStyle {
        font-size: 12px;
    }
</style>

<form id="updateReqHeaderForm">
    <input type="hidden" id="OrderNo" name="OrderNo" value="@ViewBag.OrderNo" />
    <table class="table" style="border-style:solid;border-width:2px">
        <tbody>
            <tr>
                <td colspan="6" style="font-weight:800;font-size:x-large" align="center">物料需求單</td>
            </tr>
            <tr>
                <td class="tdstyle">
                    填單日期
                </td>
                <td> <input name="ApplicationDate" value="@Model.ApplicationDate" style="width:70%;border-color: #d2d6de;border: 1px solid #ccc;" id="ApplicationDate" readonly></td>
                <td class="tdstyle">
                    申請部門
                </td>
                <td>
                   
                    <input name="ApplicantUnit" style="width:70%;border-color: #d2d6de;border: 1px solid #ccc;" id="ApplicantUnit" value="@ViewBag.ApplicantUnit" readonly>
                </td>

                <td class="tdstyle">
                    申請人
                </td>
                <td>
                    @(Html.Kendo().MultiColumnComboBox()
                                                                                .Name("Applicant")
                                                                                .DataTextField("TMNAME")
                                                                                .DataValueField("KEYNO")
                                                                                .Filter("contains")
                                                                                .FilterFields(new string[] { "TMNAME", "KEYNO" })
                                                                                .Value(Model.Applicant)
                                                                                .Enable(false)
                                                                                .Columns(columns =>
                                                                                {
                                                                                    columns.Add().Field("TMNAME").Title("姓名").Width("100");
                                                                                    columns.Add().Field("KEYNO").Title("員工編號").Width("100");
                                                                                })
                                                                                .HtmlAttributes(new { style = "width:50%;", required = true, validationMessage = "申請人必需選擇" })
                                                                                .Height(400)
                                                                                .DataSource(source => source
                                                                                    .Custom()
                                                                                    .Transport(transport => transport
                                                                                    .Read(read =>
                                                                                    {
                                                                                        read.Url("../api/Employee/getEmployeeUnit");
                                                                                    }))
                                                                                )
                    )                    
                </td>
            </tr>
            <tr>
                <td class="tdstyle">指定廠牌</td>
                <td>
                    @(Html.Kendo().Switch()
                                .Checked(Model.SpecifyBrand ?? false)
                                .Name("SpecifyBrand")
                                .Messages(c => c.Checked("是").Unchecked("否")).Events(ev => ev.Change("BrandChange"))
                    )
                </td>
                <td class="tdstyle">理由說明</td>
                <td colspan="3">
                    <input name="SpecifyReason" @(Model.SpecifyBrand == true ? "" : "disabled") @(Model.SpecifyBrand == true ? "required" : "") value="@Model.SpecifyReason" style="width:70%;border-color: #d2d6de;border: 1px solid #ccc;" id="PeriodQty2" type="text" validationMessage="理由說明不可為空白">
                </td>
            </tr>
            <tr>
                <td class="tdstyle">特殊狀況</td>
                <td>
                    @{ 
                        string specialValue = (Model.Emergency == true ? "緊急辦理" : "");
                        string Reason;
                        if(specialValue == "")
                        {
                            specialValue = (Model.Temporary == true ? "臨時需求" : "");
                            Reason = Model.TemporaryReason;
                        }
                        else
                        {
                            Reason = Model.EmergencyReason;
                        }
                    }
                    @(Html.Kendo().ComboBox()
                               .Name("special")
                               .Placeholder("選擇特殊狀況")
                               .BindTo(new List<string>() {
                                                    "",
                                                  "緊急辦理",
                                                  "臨時需求"
                               })
                               .Value(specialValue)
                               .SelectedIndex(0)
                               .Suggest(true)
                               .HtmlAttributes(new { style = "width:100%;" })
                                .Events(e =>
                                {
                                    e.Select("specialSelect");
                                })
                    )
                </td>
                <td class="tdstyle">理由說明</td>
                <td colspan="3">
                    <input name="Reason" @(specialValue != "" ? "" : "disabled") @(specialValue != "" ? "required" : "") value="@Reason" style="width:70%;border-color: #d2d6de;border: 1px solid #ccc;" id="Reason" type="text" validationMessage="理由說明不可為空白">
                </td>
            </tr>

            <tr>
                <td class="tdstyle">驗收標準</td>
                <td>
                    @(Html.Kendo().RadioButton().Name("AcceptanceStd1").Checked(Model.AcceptanceStd == "依物料抽樣數量建議表" ? true : false).HtmlAttributes(new { @name = "AcceptanceStd", @value = "依物料抽樣數量建議表" }).Label("依物料抽樣數量建議表"))
                    @(Html.Kendo().RadioButton().Name("AcceptanceStd2").Checked(Model.AcceptanceStd == "其它" ? true : false).HtmlAttributes(new { @name = "AcceptanceStd", @value = "其它" }).Label("其它"))
                </td>
                <td class="tdstyle">理由說明</td>
                <td colspan="3">
                    <input name="AcceptanceReason" @(Model.AcceptanceStd == "其它" ? "" : "disabled") @(Model.AcceptanceStd == "其它" ? "required" : "") value="@Model.AcceptanceReason" style="width:70%;border-color: #d2d6de;border: 1px solid #ccc;" id="AcceptanceReason" type="text" validationMessage="理由說明不可為空白">
                </td>
            </tr>
        </tbody>
    </table>
</form>

<table class="table" style="border-style:solid;border-width:2px">
    <tbody>
        <tr>
            <td>
                <div class="panel-heading">
                    <button id="btnAdd" class="btn btn-danger" type="button" style="margin-left:10px;display:inline;top:-12px"><i class="fa fa-plus-circle"></i>新增</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <table id="RequireDetailUpdateTable" data-url="@Url.Content("../api/Requirement/getReqBody/")@ViewBag.OrderNo" class="hover display">
                    <thead>
                        <tr>
                            <th>料號</th>
                            <th>需求數量</th>
                            <th>需求日期</th>
                            <th>用料期程1(起)</th>
                            <th>用料期程1(迄)</th>
                            <th>用料量1</th>
                            <th>用料期程2(起)</th>
                            <th>用料期程2(迄)</th>
                            <th>用料量2</th>
                            <th>檢修分類</th>
                            <th>需求原因</th>
                            <th>動作</th>
                        </tr>
                    </thead>
                </table>
            </td>
        </tr>
    </tbody>
</table>




