@using WareHouseSys.ViewModels;

@model TransToPurViewModel
@{
    ViewBag.Title = "採購明細修改";
    Layout = "";
}


<style>
    .table > tbody > tr > td {
        border-top: 1px solid #2b2b2b;
    }

    .ui-autocomplete-input {
        width: 70%;
    }

    .tdstyle {
        font-family: 標楷體;
        font-size: large;
        vertical-align: middle;
        border-style: solid;
        border-width: 0.5px;
        font-weight: 800;
        text-align: center;
        width: 12%;
        background-color: #D0CECF;
    }

    .ui-dialog {
        z-index: 900 !important;
    }

    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
</style>


<form id="PurLocalUpdateForm">
    <input  name="SerialNo" type="hidden" value="@Model.SerialNo" />
    <input  name="RequireUnitName" type="hidden" value="@Model.RequireUnitName" />
    <table class="table" style="border-style:solid;border-width:2px">

        <tbody>
            <tr>
                <td colspan="6" style="font-weight:800;font-size:x-large" align="center">採購明細修改</td>
            </tr>
            <tr>
                <td class="tdstyle">
                    料號
                </td>
                <td> <input name="MaterialNo" value="@Model.MaterialNo" style="width:70%;border-color: #d2d6de;border: 1px solid #ccc;"  readonly></td>
                <td class="tdstyle">
                    品名
                </td>
                <td>
                    <input name="MaterialName" style="width:70%;border-color: #d2d6de;border: 1px solid #ccc;"  value="@Model.MaterialName" readonly>
                </td>

                <td class="tdstyle">
                    規格
                </td>
                <td>
                    <input name="Spec" style="width:70%;border-color: #d2d6de;border: 1px solid #ccc;" value="@Model.Spec" readonly>
                </td>
            </tr>
            <tr>
                <td class="tdstyle">
                    單位
                </td>
                <td>
                    <input name="Unit" style="width:70%;border-color: #d2d6de;border: 1px solid #ccc;"  value="@Model.Unit" readonly>
                </td>
                <td class="tdstyle">
                    契約數量
                </td>
                <td>
                    <input type="number" name="Quantity" style="width:70%;border-color: #d2d6de;border: 1px solid #ccc;" value="@Model.Quantity">
                </td>
                <td class="tdstyle">
                    單價未稅
                </td>
                <td>
                    <input type="number" name="Price" style="width:70%;border-color: #d2d6de;border: 1px solid #ccc;"  value="@Model.Price">
                </td>
            </tr>
            <tr>
                <td class="tdstyle">
                    交貨批次
                </td>
                <td>
                    <input name="DeliveryLot" style="width:70%;border-color: #d2d6de;border: 1px solid #ccc;" value="@Model.DeliveryLot">
                </td>
                <td class="tdstyle">
                    交貨地點
                </td>
                <td>
                    <input name="DeliveryPlace" style="width:70%;border-color: #d2d6de;border: 1px solid #ccc;" value="@Model.DeliveryPlace">
                </td>
                <td class="tdstyle">
                    履約期限
                </td>
                <td>
                    <input name="PerformancePeriod" style="width:70%;border-color: #d2d6de;border: 1px solid #ccc;"  value="@Model.PerformancePeriod" class="dateTime">
                </td>
            </tr>
            <tr>
                <td class="tdstyle">
                    需求單位
                </td>
                <td colspan="5">
                    <select name="ReqireUnit"  style="width:50%;border-color: #d2d6de;border: 1px solid #ccc;" class="combobox" onchange="selectUnit(this);">
                        <option></option>
                        @foreach (WareHouseSys.DBModels.UNIT unit in ViewBag.Units)
                        {
                            if (unit.UNITNO.Trim() == Model.ReqireUnit)
                            {
                                <option value="@unit.UNITNO.Trim()" selected>@unit.UNITNAME.Trim() [@unit.UNITNO.Trim()]</option>
                            }
                            else
                            {
                                <option value="@unit.UNITNO.Trim()">@unit.UNITNAME.Trim() [@unit.UNITNO.Trim()]</option>
                            }

                        }
                    </select>
                </td>
            </tr>
        </tbody>
    </table>

</form>

