@using WareHouseSys.Models;
@model List<PurLotClass>
@{
    ViewBag.Title = "轉入庫單";
    Layout = "";
}

<input type="hidden" name="inpPurchaseNo" value="@ViewBag.PurchaseNo" />
<form id="transToInboundForm">
    @if (Model.Count > 0)
    {
        for (int i = 0; i < Model.Count; i++)
        {
            <table class="table" style="border-style:solid;border-width:2px">
                <tbody>
                    <tr>
                        <td>
                            <div class="panel-heading">
                                <input type="checkbox" id="eq @Model[i].DeliveryLot" data-lot="@Model[i].DeliveryLot" class="k-checkbox">
                                <label class="k-checkbox-label" for="eq @Model[i].DeliveryLot">批次 @Model[i].DeliveryLot</label>
                                @*<button type="button" class="btn btn-primary pull-left" onclick="CreateInbound('@ViewBag.PurchaseNo','@Model[i].DeliveryLot');">產生入庫單</button>*@
                                @*@(Html.Kendo().CheckBox().Name("eq" + Model[i].DeliveryLot).Checked(false).Label("批次" + Model[i].DeliveryLot).HtmlAttributes(new { lot = Model[i].DeliveryLot }))*@
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table name="TransToInboundTable" data-url="@Url.Content("../api/Recv/getRecvBodyByLot/")@Model[i].PurchaseNo/@Model[i].DeliveryLot" class="hover display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>料號</th>
                                        <th>品名</th>
                                        <th>應收數量</th>
                                        <th>已收數量</th>
                                        <th>未收數量</th>
                                        <th>應入數量</th>
                                        <th>收貨批次</th>
                                        <th>收貨地點</th>
                                    </tr>
                                </thead>
                            </table>
                        </td>
                    </tr>

                </tbody>
            </table>

        }

    }
    else
    {
        <h3>目前無收貨資料可轉入庫單!</h3>
    }
</form>

