@using WareHouseSys.ViewModels
@using WareHouseSys.Models
@model BackHeaderViewModel
@{
    ViewBag.Title = "還料明細";
    Layout = "";
}


<style>
    .table > tbody > tr > td {
        border-top: 1px solid #2b2b2b;
    }

</style>
<form>
    <table class="table" style="border-style:solid;border-width:2px">
        <tbody>
            <tr>
                <td colspan="4" style="font-weight:800;font-size:x-large" align="center">歸還單資訊</td>
            </tr>
            <tr>
                <td class="tdstyle">
                    還料單號
                </td>
                <td>
                    <h4><span class="label label-default">@Model.OrderNo</span></h4>
                </td>
                <td class="tdstyle">歸還人員</td>
                <td>
                    <h4><span class="label label-default">@Model.BackMan</span></h4>
                </td>
            </tr>
            <tr>
                <td class="tdstyle">
                    收料人員
                </td>
                <td>
                    <h4><span class="label label-default">@Model.InBoundMan</span></h4>
                </td>
                <td class="tdstyle">
                    倉庫群組
                </td>
                <td>
                    <h4><span class="label label-default">@Model.WGroupId</span></h4>
                </td>
            </tr>
            <tr>
                <td class="tdstyle">
                    歸還日期
                </td>
                <td>
                    <h4><span class="label label-default">@Model.InBoundDate</span></h4>
                </td>
                <td class="tdstyle">
                    逾期歸還
                </td>
                <td>
                    <h4><span class="label label-default">@(Model.Overdue == true?"是":"否")</span></h4>
                </td>
            </tr>
            <tr>
                <td class="tdstyle">
                    備註
                </td>
                <td colspan="3">
                    <h4><span class="label label-default">@Model.Note</span></h4>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div style="width:950px">
                        <div id="BackDetailGrid" data-url="@Url.Content("../Back/BackBodyViewModel")?OrderNo=@Model.OrderNo" data-updateurl="@Url.Content("../api/Back/updateBackQty")"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdstyle">
                    附件
                </td>
                <td colspan="3">
                    @foreach (Attachment f in Model.attachments)
                    {
                        <span class="badge badge-pill badge-default" style="cursor:pointer"><a href="@Url.Action("getAttatchment","Back",new { OrderNo=Model.OrderNo,FileName=f.FileName})" style="color:white" target="aa">@f.FileName</a></span>
                    }
                </td>
            </tr>
           
        </tbody>
    </table>
</form>

