@using WareHouseSys.ViewModels
@using WareHouseSys.Models
@model ReturnHeaderViewModel
@{
    ViewBag.Title = "退料修改";
    Layout = "";
}

<style>
    .table > tbody > tr > td {
        border-top: 1px solid #2b2b2b;
    }
</style>

@*<input type="hidden" id="WGroupId" value="@ViewBag.WGroupId" />*@
<form id="ReturnModifyForm">
    <input type="hidden" id="PickingNo" name="PickingNo" value="@Model.PickingNo" />
    <input type="hidden" id="OrderNo" name="OrderNo" value="@Model.OrderNo" />
    <table class="table" style="border-style:solid;border-width:2px">
        <tbody>
            <tr>
                <td colspan="4" style="font-weight:800;font-size:x-large" align="center">退料單資訊</td>
            </tr>
            <tr>
                <td class="tdstyle">
                    退料單號
                </td>
                <td>
                    <h4><span class="label label-default">@Model.OrderNo</span></h4>
                </td>
                <td class="tdstyle">
                    領料單號
                </td>
                <td>
                    <h4><span class="label label-default">@Model.PickingNo</span></h4>
                </td>
            </tr>

            <tr>
                <td class="tdstyle">
                    申請日期
                </td>
                <td>
                    @(Html.Kendo().DatePicker()
                                                    .Name("AddDateTime")
                                                    .Value(DateTime.Parse(Model.AddDateTime.ToString()).ToString("yyyy/MM/dd"))
                                                    .HtmlAttributes(new { style = "width: 80%", title = "datepicker", required = true })
                    )

                </td>
                <td class="tdstyle">
                    申請人員
                </td>
                <td>

                    @(Html.Kendo().MultiColumnComboBox()
                                                                        .Name("ReturnMan")
                                                                        .DataTextField("TMNAME")
                                                                        .DataValueField("KEYNO")
                                                                        .Value(Model.ReturnManId)
                                                                        .Filter("contains")
                                                                        .FilterFields(new string[] { "TMNAME", "KEYNO" })
                                                                        .Columns(columns =>
                                                                        {
                                                                            columns.Add().Field("TMNAME").Title("姓名").Width("100");
                                                                            columns.Add().Field("KEYNO").Title("員工編號").Width("100");
                                                                        })
                                                                        .HtmlAttributes(new { style = "width:80%;", required = true, validationMessage = "入庫人員必需選擇" })
                                                                        .Height(400)
                                                                        .DataSource(source => source
                                                                            .Custom()
                                                                            .Transport(transport => transport
                                                                            .Read(read =>
                                                                            {
                                                                                read.Url("../api/Employee/getEmployeeUnit");
                                                                            }))
                                                                        )
                    )

                </td>
            </tr>
            <tr>
                <td class="tdstyle">
                    單位
                </td>
                <td colspan="3">

 
                    @(Html.Kendo().MultiColumnComboBox()
                                .Name("ReturnUnit")
                                .DataTextField("UNITNAME")
                                .DataValueField("UNITNO")
                                .Filter("contains")
                                .FilterFields(new string[] { "UNITNAME", "UNITNO" })
                                .Value(Model.ReturnUnitId)
                                .Columns(columns =>
                                {
                                   columns.Add().Field("UNITNAME").Title("單位").Width("500px");
                                   @* columns.Add().Field("KEYNO").Title("員工編號").Width("200px");*@
                                })
                                .HtmlAttributes(new { style = "width:100%;" })
                                .Height(400)
                                .DataSource(source => source
                                    .Custom()
                                    .Transport(transport => transport
                                    .Read(read =>
                                    {
                                        //read.Url("../api/Employee/getEmployee");
                                        read.Url("../api/Unit/getAllUnit");
                                    }))
                                )
                    )
                </td>
            </tr>
            <tr>
                <td class="tdstyle">
                    退料原因
                </td>
                <td colspan="3">
                    <textarea name="ReturnReason" cols="50" rows="4" required validationMessage="退料原因不可為空白">@(Model != null?Model.ReturnReason:"")</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div style="width:1165px">
                        <div id="ModifyReturnGrid" data-url="@Url.Content("../Return/getReturnBodyViewBody")?OrderNO=@ViewBag.OrderNo" data-updateurl="@Url.Content("../api/Return/updateBody")" data-deleteurl="@Url.Content("../api/Return/deleteBody")"></div>
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="4">
                    <div class="pull-right" style="margin-left:10px;display:inline-block;top:200px">
                        <button id="btnSave" class="btn btn-danger" type="button"><i class="fa fa-save"></i>儲存</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>

