
@{
    ViewBag.Title = "AddToolPicking";
    Layout = "";
}
<style>
    .table > tbody > tr > td {
        border-top: 1px solid #2b2b2b;
    }
</style>
<form id="AddToolPickingForm">
    <table class="table" style="border-style:solid;border-width:2px">
        <tbody>
            <tr>
                <td colspan="4" style="font-weight:800;font-size:x-large" align="center">領料單資訊</td>
            </tr>
            <tr>
                <td class="tdstyle">
                    領料日期
                </td>
                <td>
                    <input name="OutBoundDate" style="width:70%;border-color: #d2d6de;border: 1px solid #ccc;" value="@DateTime.Now.ToString("yyyy/MM/dd")" class="dateTime" required>
                </td>

                <td class="tdstyle">
                    發料人員
                </td>
                <td>
                    @{
                        string UserId = ViewBag.UserId;
                    }
                    @(Html.Kendo().MultiColumnComboBox()
                        .Name("PickingMan")
                        .DataTextField("TMNAME")
                        .DataValueField("KEYNO")
                        .Filter("contains")
                        .FilterFields(new string[] { "TMNAME", "KEYNO" })
                        .Value(UserId)
                        .Columns(columns =>
                        {
                            columns.Add().Field("TMNAME").Title("姓名").Width("200px");
                            columns.Add().Field("KEYNO").Title("員工編號").Width("200px");
                        })
                        .HtmlAttributes(new { style = "width:100%;" })
                        .Height(400)
                        .DataSource(source => source
                            .Custom()
                            .Transport(transport => transport
                            .Read(read =>
                            {
                                read.Url("../api/Employee/getEmployee");
                            }))
                        )
                    )
                </td>
            </tr>
            <tr>
                <td class="tdstyle">
                    緊急領料
                </td>
                <td >
                    @(Html.Kendo().Switch()
                        .Name("EmergencyPicking")
                        .Messages(c => c.Checked("是").Unchecked("否"))
                    )
                </td>
                <td class="tdstyle">
                    倉庫群組
                </td>
                <td>
                    <select name="WGroupId">
                        @foreach (WareHouseSys.DBModels.WGroup wGroup in ViewBag.WGroups)
                        {
                            <option value="@wGroup.WGroupId">@wGroup.WGroupName</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div style="width:1165px">
                        <div id="PickingToolAddGrid" data-url="@Url.Content("../Picking/ToolPickingBodyDetailByOrderNo")"></div>
                    </div>

                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="pull-right">
                        <button id="BtnSaveToolPicking" class="btn btn-danger" type="button" style="margin-left:10px"><i class="far fa-save"></i> 儲存</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<table class="table" style="border-style:solid;border-width:2px">
    <tbody>
       
    </tbody>
</table>

